name: TDR Deploy ECR Scan Lambda
on:
  workflow_dispatch:
    inputs:
      to-deploy:
        description: 'Version to deploy'
        required: true
run-name: Deploying ECR Scan Lambda ${{inputs.to-deploy}} to mgmt
permissions:
  id-token: write
  pull-requests: write
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: mgmt
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Configure AWS credentials for Lambda
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::${{ secrets.MANAGEMENT_ACCOUNT }}:role/TDRGithubActionsDeployLambdaMgmt
          aws-region: eu-west-2
          role-session-name: ECRLogin
      - name: Deploy to lambda
        run: |
          aws lambda update-function-code --function-name tdr-ecr-scan-mgmt --s3-bucket tdr-backend-code-mgmt --s3-key ecr-scan/${{ github.event.inputs.to-deploy }}/ecr-scan.jar > /dev/null
          aws lambda wait function-updated --function-name tdr-ecr-scan-mgmt > /dev/null
      - name: Send success message
        uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@5d4fee21ed08f053613a7706e28623c0adc0f5f4 # v0.0.10
        with:
          message: ":white_check_mark: Service tdr-ecr-scan updated to version ${{ github.event.inputs.to-deploy }} in mgmt"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Update release branch
        run: |
          git branch -f release-mgmt HEAD
          git push -f origin release-mgmt
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
      - name: Send failure message
        uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@5d4fee21ed08f053613a7706e28623c0adc0f5f4 # v0.0.10
        if: failure()
        with:
          message: ":warning: Build failed for tdr-ecr-scan for version ${{ github.event.inputs.to-deploy }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
